body{
    background-image: url(https://images.alphacoders.com/135/1351306.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} 

select{
    border-radius: 20px;
    border: none;
    background-color: rgb(162, 151, 167);
}

input{
    border-radius: 20px;
    border: none;
    background-color: rgb(162, 151, 167);
    padding: 5px;
    
}

button{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
}

#ficha{
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: auto;
    background-color: rgb(233, 233, 233);
    border: solid 1px black;
    
    
    
}

.perfil{
    display: flex;
    gap: 20px;
}

#fichapronta{
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: rgb(233, 233, 233);
    border: solid 1px black;
    padding: 10px;
    display: none;
}

.perfil{
    display: flex;
    gap: 20px;
}

.perfil img{
    height: 150px;
    width: 150px;
    border: 2px solid black;
}