#ficha{
    border: 2px solid black;
    padding: 10px;
}

.perfil{
    display: flex;
    gap: 20px;
}

#fichapronta{
    border: 2px solid black;
    padding: 10px;
    display: none;
}

.perfil{
    display: flex;
    gap: 20px;
}

.perfil img{
    height: 150px;
    width: 150px;
    border: 5px solid black;
}